services:
  # Configuración del Backend (Laravel)
  - type: web
    name: vault-api
    runtime: php # Aquí forzamos a Render a usar PHP
    rootDir: password-manager-api
    buildCommand: composer install --no-dev --optimize-autoloader && php artisan migrate --force
    startCommand: php artisan serve --host 0.0.0.0 --port $PORT
    envVars:
      - key: APP_KEY
        sync: false # La pondrás manualmente en el panel
      - key: DB_CONNECTION
        value: mysql